<template>
  <!-- root node required -->
  <div>
    <!-- your content -->
    <div class="layout-padding">
      <div class="card">
        <div class="card-content">
          <div class="floating-label">
            <input type="email" v-model="form.email" required @input="$v.form.email.$touch()" class="full-width" :class="{'has-error': $v.form.email.$error}">
            <label>Email</label>
          </div>
          <div class="floating-label">
            <input type="password" v-model.trim="form.password" required @input="$v.form.password.$touch()" v-on:keyup.enter="submit" class="full-width" :class="{'has-error': $v.form.password.$error}">
            <label>Password</label>
          </div>
          <button class="primary" @click="submit" :class="{'disabled': !$v.form.$dirty || $v.form.$error}">
            Submit
          </button>
        </div>
      </div>
      <!-- if you want automatic padding -->
    </div>
  </div>
</template>

<script>

import { required, email, minLength } from 'vuelidate/lib/validators'
import { validationMixin } from 'vuelidate'

export default {
  mixins: [validationMixin],
  data: () => {
    return {
      form: {
        email: '',
        password: ''
      }
    }
  },
  validations: {
    form: {
      email: { required, email },
      password: { required, minLength: minLength(6) }
    }
  },
  methods: {
    submit: function (event) {
      if (this.$v.form.$error || !this.$v.form.$dirty) return
      this.$store.dispatch('login', { email: this.form.email, password: this.form.password })
    }
  }
}
</script>

<style>
</style>
