<template>
  <!-- root node required -->
  <div>
    <!-- your content -->
    <div class="layout-padding">
      <span>Module {{spacename}} {{modulename}}</span>
      <!-- if you want automatic padding -->
    </div>
  </div>
</template>

<script>
export default {
  props: ['spacename', 'modulename'],
  data () {
    return {}
  }
}
</script>

<style>
</style>
