<template>
  <!-- root node required -->
  <div>
    <!-- your content -->
    <div class="layout-padding">
      <div class="card">
        <div class="card-content">
          <div class="floating-label">
            <input v-model="form.email" required class="full-width">
            <label>Email</label>
          </div>
          <div class="floating-label">
            <input type="password" v-model="form.password" required class="full-width">
            <label>Password</label>
          </div>
          <div class="floating-label">
            <input type="password" v-model="form.password2" required class="full-width">
            <label>Confirm password</label>
          </div>
          <button class="primary" @click="submit">
            Submit
          </button>
          <pre>
          {{$v}}
          </pre>
        </div>
      </div>
      <!-- if you want automatic padding -->
    </div>
  </div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
export default {
  data: function () {
    return {
      form: {
        email: '',
        password: '',
        password2: ''
      }
    }
  },
  validations: {
    form: {
      email: { required, email },
      password: { required },
      password2: { required }
    }
  },
  methods: {
    submit: function (event) {
      this.$v.form.$touch()
    }
  }
}
</script>

<style>
</style>
