<template>
  <!-- root node required -->
  <div>
    <!-- your content -->
    <div class="layout-padding">
      <span>Space {{spacename}}</span>
      <!-- if you want automatic padding -->
    </div>
  </div>
</template>

<script>
  export default {
    props: ['spacename'],
    data () {
      return {}
    }
  }
</script>

<style>
</style>
