<!-- Layout d'affichage des modules par espace -->
<template>
  <q-layout>
    <q-tabs slot="navigation" class="secondary">
      <q-tab v-for="s in modules" key="{{s.id}}" v-link="{ name:'moduleView', params: { modulename: s.slug } }">
        {{s.title}}
      </q-tab>
    </q-tabs>

    <router-view class="layout-view"></router-view>

  </q-layout>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  props: ['spacename'],
  created: function () {
    this.getDatasToSpace(this.spacename)
  },
  watch: {
    spacename: function (value, oldvalue) {
      this.getDatasToSpace(value)
    }
  },
  computed: mapGetters({
    modules: 'spaces/getSpaceModule'
  }),
  methods: {
    ...mapActions({
      getDatasToSpace: 'spaces/getDatasToSpace'
    })
  }
  // data () {
  //   return {}
  // }
}
</script>

<style>
</style>
