<!-- Layout principale pour les utilisateurs : affichage du menu et des espaces -->
<template>
  <q-layout>
    <div slot="header" class="toolbar">
      <q-toolbar-title :padding="1" v-link="{ name: 'userHome'}">
        OrgApp
      </q-toolbar-title>
      <button v-link="{ name: 'logout'}">Logout</button>
    </div>

    <!-- Navigation Tabs -->
    <q-tabs slot="navigation" class="justified">
      <q-tab v-for="s in spaces" key="{{s.id}}" v-link="{ name: 'spaceDashboard', params: { spacename: s.slug }}">
        {{s.title}}
      </q-tab>
    </q-tabs>

    <router-view class="layout-view"></router-view>

    <!-- Footer
    <div slot="footer" class="toolbar"></div>
    -->
  </q-layout>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  created: function () {
    this.getSpacesIndex()
  },
  computed: mapGetters({
    spaces: 'spaces/getSpaces'
  }),
  methods: {
    ...mapActions({
      getSpacesIndex: 'spaces/getSpacesIndex'
    })
  }
}
</script>

<style>
</style>
