<template>
  <!-- Don't drop "q-app" class -->
  <div id="q-app">
    <router-view></router-view>
  </div>
</template>

<script>
/*
 * Root component
 */

import { mapGetters } from 'vuex'

export default {
  computed: mapGetters({
    isLogged: 'isLogged'
  })
  // data: function () {
  //   return {
  //     isLogged: false
  //   }
  // }
}
</script>

<style></style>
